/*Colors*/

/*Domains*/
$light1: #8ac4ff;
$dark1: #5887ff;

/*Hosting*/
$light2: #8884ff;
$dark2: #7d53de;

/*Web development*/
$light3: #dac4f7;
$dark3: #ecb0e1;

.section1, .section2, .section3, .section4 {
  width: 100vw;
  margin: 0px;
  padding: 0px 0px 200px 0px;
  overflow: auto;
  -webkit-box-shadow: inset 0px -3px 24px -19px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px -3px 24px -19px rgba(0,0,0,0.46);
  box-shadow: inset 0px -3px 24px -19px rgba(0,0,0,0.46);
  h2.title {
    text-align: center;
    border-bottom: 2px solid $dark_blue;
    padding: 10px;
    font-size: 40px;
    min-width: 200px;
    max-width: 500px;
    margin: 50px auto;
    color: $dark_blue;
  }
}

.section1 {
  min-height: 100vh;
  background-color: $background_blue;
  .call-to-action {
    margin-top: 100px;
    text-align: center;
    color: $dark_grey;
    text-transform: uppercase;
    h1 {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }
  .background-blue {
    background: rgb(34,138,226);
    background: -moz-linear-gradient(45deg, rgba(34,138,226,1) 0%, rgba(34,153,226,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(34,138,226,1) 0%,rgba(34,153,226,1) 100%);
    background: linear-gradient(45deg, rgba(34,138,226,1) 0%,rgba(34,153,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#228ae2', endColorstr='#2299e2',GradientType=1 );
    padding: 5vh 0vh;
    margin-top: 10vh;
    .benefit:nth-child(1) .img{
      background-image: image-url('split');
      height: 100px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: center;
    }
    .benefit:nth-child(2) .img{
      background-image: image-url('bolt');
      height: 100px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: center;
    }
    .benefit:nth-child(3) .img{
      background-image: image-url('heart');
      height: 100px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100px;
      background-position: center;
    }

  }
  .benefits {
    .benefit {
      padding: 10px;
      text-align: center;
      .content {
        height:100%;
      }
    }
    .title {
      font-weight: bold;
      border-bottom: 2px solid $light_blue;
      color: white;
      padding: 10px;
      font-size: $h1;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .text {
      color: white;
      font-size: $h4;
    }
  }
  .search .domain-search .search-btn {
    background-color: $light_blue;
    color: white;
    border: 0px;
  }


}
.section2 {
  .services {
    margin-top: 100px;
    .service {
      padding: 0px;
      .content{
        overflow: auto;
        padding: 0px 0px 100px 0px;
        -webkit-box-shadow: 3px 6px 12px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 3px 6px 12px 0px rgba(0,0,0,0.1);
        box-shadow: 3px 6px 12px 0px rgba(0,0,0,0.1);
        background-image: image-url('crossword');
        background-repeat: repeat;
        .title {
          position: relative;
          margin: 0px 0px 30px 0px;
          padding: 10px;
          font-size: 30px;
          color: white;
        }
        .description {
          padding: 0px 25px 20px 25px;
          color: $light_grey;
        }
        .pricing {
          text-align: center;
          span{
            display: block;
            color: $light_grey;
          }
          span:nth-child(1) {
            font-size: $h7;
          }  
          span:nth-child(2) {
            font-size: 30px;
          }          
          span:nth-child(3) {
            font-size: $h6;
          }
        }
        .more {
          position: absolute;
          bottom: 20px;
          text-align: center;
          width: 100%;
          a {
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 18px;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
    .service:nth-child(2) {
      margin-top: 80px;
      margin-right: -15px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
      z-index: 1;
      .content {
        min-height: 350px;
        .title {
          background: $light1;
          text-align: center;
        }
        .pricing {
          span:nth-child(2) {
            color: $light1;
          }        
        }
        .more {
          a {
            border: 2px solid $light1;
            color: $light1;
          }
        }
      }
    }
    .service:nth-child(1) {
      z-index: 5;
      margin-top: 0px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s;
      .content {
        min-height: 450px;
        .title {
          text-align: center;
          background: $light2;
        }
        .pricing {
          span:nth-child(2) {
            color: $light2;
          }        
        }
        .more {
          a {
            border: 2px solid $light2;
            color: $light2;
          }
        }
      }
    }
    .service:hover {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transition-delay: 300ms;
      -moz-transition-delay: 300ms;
      -o-transition-delay: 300ms;
      transition-delay: 300ms;
    }
    .service:nth-child(2):hover {
      margin-top: 75px;
      z-index: 10;
      .content {
        .title {
          background-color: $dark1;
        }
        .pricing {
          span:nth-child(2) {
            color: $dark1;
          }        
        }
        .more {
          a {
            border: 2px solid $light1;
            background-color: $light1;
            color: white;
          }
          a:hover {
            border: 2px solid $dark1;
            background-color: $dark1;
          }
        }
      }
    }
    .service:nth-child(1):hover {
      margin-top: -5px;
      .content {
        .title {
          background-color: $dark2;
        }
        .more {
          a {
            border: 2px solid $light2;
            background-color: $light2;
            color: white;
          }
          a:hover {
            border: 2px solid $dark2;
            background-color: $dark2;
          }
        }
      }
    }

  }
}

.section3, .section4 {
  ul {
    li {
      list-style: none;
      .title {
        font-size: $h4;
        color: $dark_grey;
      }
      .description {
        color: $light_blue;
        display: block;
        font-size: $h5;
      }
    }
  }
  .title {
    font-size: $h1;
    color: $dark_blue;
  }
  .description {
    font-size: $h4;
    color: $dark_grey;
  }
}
.section3 {
}

.section4 {

}

.footer {
  padding: 20px;
  min-height: 20vh;
  overflow: auto;
  width: 100vw;
  background: rgb(49,133,252);
  background: -moz-linear-gradient(45deg, rgba(49,133,252,1) 0%, rgba(55,114,255,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(49,133,252,1) 0%,rgba(55,114,255,1) 100%);
  background: linear-gradient(45deg, rgba(49,133,252,1) 0%,rgba(55,114,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3185fc', endColorstr='#3772ff',GradientType=1 );
  .group {
    margin-top: 30px;
    h2 {
      padding: 0px;
      margin-top: 0px;
    }
    .title {
      color: white;
      font-weight: bold;
      margin-bottom: 20px;
    }
    ul.links {
      list-style: none;
      padding-left: 0px;
      li a{
        color: white;
      }
    }
  }
}
