// Render filters
$('.filter-topdomain .content').html("<%= escape_javascript (render partial: 'extensions') %>");

// Render results
$('.content-wrapper').html("<%= escape_javascript (render partial: 'results') %>");

// Hide footers
$('.product .footer').toggle();

// Check all checkboxes
$('.filter-topdomain input:checkbox').prop('checked', true);

//On new domain search
$('.domain-search').submit(function(event){
  $('.product').fadeOut(200);
  $('.cd-main-content .content-wrapper').append("<div class='wrap'><div class='loading'><div class='bounceball'></div><div class='text'>Searching. Please wait...</div></div></div>");
})

// Handle active/faded products
$('.product .clickable').on("click tap", function(){
	$('.product .clickable').not(this).each(function(){
	   var footer = $(this).next('.footer');
	   var product = $(this).parent().parent();

	   footer.hide();
	   product.removeClass('faded').removeClass('active');
	});

	var product = $(this).parent().parent()
	product.toggleClass('active').removeClass('faded');
	var footer = $(this).next('.footer');
	footer.toggle(100);

	if(product.hasClass('active')){
		$('.product').not(product).each(function(){
		   $(this).addClass('faded');
		});
	} else{
		$('.product').removeClass('faded');
	}

});

// Prevent footer being closed if clicked on
$('.product .footer').on("click tap", function(event){
	event.stopPropagation();
});


// Change displayed price in footer
$('.buy-domain .range-slider input').on('input', function() { 

  var form = $(this).parent().parent();
  var total_price_field = form.find('#total_price');
  var first_year        = form.find('#price').val()/10000;
  var renew             = form.find('#renew').val()/10000; 
  var total             = form.next('.total');
  var years             = total.children('.years');
  var price             = total.children('.price');

  var period = this.value;
  var total_price=0;

	if(period==1){
    total_price = (first_year/100).toFixed(2);
		period = period + " year for ";
	}
	else{
    total_price = ((first_year + (period-1)*renew)/100).toFixed(2);
		period = period + " years for ";
	}

	years.html(period);
	price.html(" $" + total_price);
  total_price_field.val(total_price*100);
});

// filter products on checkbox change
$('.filter-topdomain input').on("click tap", function(){
	$('.product').removeClass('faded').removeClass('active');
	$('.product .footer').hide();

	if($(this).hasClass('all')){
		if($(this).is(':checked')){
			$('.filter-topdomain input:checkbox').prop('checked', this.checked);
		} else{
			$('.filter-topdomain input:checkbox').prop('checked', false);
		}
	} else{
		if(!$(this).is(':checked')){
			$('.filter-topdomain input.all:checkbox').prop('checked', false);
		}
	}
	filter();
	updateCount();
});

function filter(){
	var extension;
	var inputs = $('.filter-topdomain input:checked');

	$('.product').hide();
	inputs.each(function(){
		extension = $(this).attr("class");
		$('.product').each(function(){
			if($(this).hasClass(extension)){
				$(this).show();
			}
		});
	})
}	

function updateCount(){
  $('.info-search b').text($('.content-wrapper .product:visible').length);
}