.home-header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.home-header::after {
  clear: both;
  content: "";
  display: block;
}
.home-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.home-header .nav {
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.home-header .logo {
  color: $dark_grey;
  font-weight: bold;
  font-size: $h5;
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}

@media only screen and (min-width: 1024px) {
  .home-header {
    height: 55px;
  }
  .home-header .logo {
    margin: 16px 0 0 18px;
  }
  .home-header ul#navigation{
    height: 55px;
    padding: 0px;
    margin: 0px 20px 0px 0px;
    li a{
      padding: 16px;
    }
  }
}

.home-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  color: $dark_grey;
  font-weight: bold;
  position: absolute;
  width: 34px;
  height: 44px;
  right: 5%;
  top: 20px;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.home-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.home-header .nav-trigger em, .home-header .nav-trigger em::after, .home-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 3px;
  width: 24px;
  background-color: $dark_grey;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.home-header .nav-trigger em {
  /* this is the menu central line */
  margin: 15px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.home-header .nav-trigger em::before, .home-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.home-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.home-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .home-header .nav-trigger {
    display: none;
  }
}

.home-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.home-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.home-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav > ul {
  position: absolute;
  z-index: 21;
  top: 45px;
  left: 0;
  padding: 0px;
  width: 100%;
  background-color: #ffffff;
  list-style: none;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}
.nav > ul a:hover, .nav > ul a.active {
  color: #8F3985;
}
@media only screen and (min-width: 1024px) {
  .nav {
    /* vertically align its content */
    display: table;
  }
  .nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .nav > ul li:last-of-type {
    margin-right: 0;
  }
  .nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .nav ul,
.nav ul:target {
  /* 
    show primary nav - mobile only 
    :target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .nav ul,
  .nav ul:target {
    display: table-cell;
  }
}