.cd-side-nav {
  position: absolute;
  background-color: white;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 45px 0 0 !important;
  visibility: hidden;
  opacity: 0;
  overflow: auto; 
  color: $dark_grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;

  ul {
    padding: 0.6em 0;
  }
  ul:last-of-type {
    padding-bottom: 0;
  }
  .cd-label, a {
    display: block;
    padding: 1em 5%;
  }
  .cd-label {
    color: $light_grey;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
  a {
    color: $dark_grey;
    font-size: $h5;
    position: relative;
  }
  a:hover {
    text-decoration: none;
  }
  ul.cd-top-nav > li:last-of-type > a {
    border-bottom: none;
  }
  ul > li > a {
    padding-left: calc(5% + 24px);
  }
  ul > li > a::before {
    position: absolute;
    content: '';
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: grey;
  }
  ul > li.search > a::before {
    -webkit-mask-image: image-url(search);
    mask-image: image-url(search);
  }
  ul > li.users > a::before {
    -webkit-mask-image: image-url(profile);
    mask-image: image-url(profile);
  }
  ul > li.domains > a::before {
    -webkit-mask-image: image-url(settings-1);
    mask-image: image-url(settings-1);
  }
  ul > li.notifications > a::before {
    -webkit-mask-image: image-url(speech-bubble);
    mask-image: image-url(speech-bubble);
  }
  ul > li.profile > a::before {
    -webkit-mask-image: image-url(profile);
    mask-image: image-url(profile);
  }
  ul > li.faq > a::before {
    -webkit-mask-image: image-url(info);
    mask-image: image-url(info);
  }
  ul > li.login > a::before {
    -webkit-mask-image: image-url(profile);
    mask-image: image-url(profile);
  }
  ul > li.signup > a::before {
    -webkit-mask-image: image-url(add);
    mask-image: image-url(add);
  }
  ul > li.document > a::before {
    -webkit-mask-image: image-url(file);
    mask-image: image-url(file);
  }
  ul > li.contacts > a::before {
    -webkit-mask-image: image-url(envelope);
    mask-image: image-url(envelope);
  }
  ul > li.logout > a::before {
    -webkit-mask-image: image-url(logout);
    mask-image: image-url(logout);
  }
  ul > li.support > a::before {
    -webkit-mask-image: image-url(rocket-launch);
    mask-image: image-url(rocket-launch);
  }
  ul > li.about > a::before {
    -webkit-mask-image: image-url(heart);
    mask-image: image-url(heart);
  }
  ul > li.credits > a::before {
    -webkit-mask-image: image-url(file);
    mask-image: image-url(file);
  }
  ul > li.more > a::before {
    -webkit-mask-image: image-url(down-arrow);
    mask-image: image-url(down-arrow);
  }
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
  .cd-side-nav {
    position: fixed;
    float: left;
    top: auto;
    padding-top: 55px;
    visibility: visible;
    opacity: 1;
    height: 100vh;
    ul {
      padding: 0;
    }
    .cd-label {
      display: none;
      font-size: $h7;
      font-weight: bold;
    }
    ul > li > a {
      font-size: $h5;
      text-align: center;
      padding: calc(2.2em + 24px) 0 2.4em;
      color: $dark_grey;
    }
    ul > li > a::before {
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 2.4em;
    }
    ul.secondary li a {
      font-size: $h6;
    }
    .active > a {
      box-shadow: inset 7px 0 0 $light_blue;
    }
  }
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  .cd-side-nav.is-fixed {
    position: fixed;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-side-nav {
    width: 16.6%;
    ul{
      padding: 0.6em 0;
    }
    ul > li > a {
      padding: 1em 1em 1em 42px;
      text-align: left;
      border-bottom: none;
    }
    ul > li > a::before {
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 18px;
    }
    .cd-label {
      display: block;
      padding: 1em 18px;
    }
  }
}