.tab-content {
  .domain{
    padding: 10px 0px;
    position:relative;
    overflow: auto;
    border-bottom: 1px solid $light;
    .domain-name{
      font-size: $h3;
      padding: 0px;
      color: black;
    }
    .expiry{
      font-size: $h4;
      color: $light_grey;
      text-align: right;
    }
  }
}
