.content-wrapper {
  .domain-group {
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: $h5;
    border-bottom: 2px solid $light_blue;
    color: $light_blue;
    .panel {
      .panel-title a {
        font-size: $h4;
      }
    }
    .panel-collapse.collapse.in {
      max-height: 600px;
      overflow-y: scroll;
    }
  }
}

.light-blue{
  color: $light_blue;
}
.product{
  width: 100%;
  padding: 24px 0px;
  border-bottom: 1px solid $light;
  background-color: $background_blue;
  .domain{
    font-size: $h4;
    font-weight: bold;
    padding: 5px 20px;
  }
  .price{
    color: $orange;
    text-align: center;
    font-weight: bold;
    font-size: $h4;
    padding: 5px 20px;
    span{
      color: $orange;
      text-align: center;
      display: block;
      font-size: $h6;
      font-weight: normal;
    }
  } 
  .add-to-cart{
    min-width: 0px;
    overflow: auto;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid $light;
    border-radius: 0px;
    background-color: transparent;
    color: $light_grey;
  }
  .add-to-cart:hover {
    color: $orange;
    border: 1px solid $orange;
  }
  .add-to-cart:active {
    border: 2px solid $orange;
  }
}

@media only screen and (min-width: 992px) {
  .product{
    button.add-to-cart{
      margin-top: 0px;
      width: 100%;
      padding: 12px;
      border: 1px solid transparent;
      border-radius: 0px;
      background-color: transparent;
      color: $light_grey;
    }
  }
}

.product.suggested{
  border: 3px solid $light_blue;
  margin-bottom: 15px;
  .domain{
    font-size: $h3;
    color: $light_blue;
  }
  .price{
    color: $light_blue;
    font-size: $h3;
    span{
      color: $light_blue;
      font-weight: normal;
    }
  }
  .add-to-cart{
    background-color: $light_blue;
    color: white;
    border: 1px solid $light_blue;
    font-weight: bold;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }

  .add-to-cart:hover {
    color: white;
    background-color: $dark_blue;
    border: 1px solid $dark_blue;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
}

.panel-collapse {
  min-height: 200px;
}