.product{
  width: 100%;
  border-bottom: 1px solid $light;
  padding: 24px 0px;
  .domain{
    font-size: $h4;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .price{
    color: $orange;
    text-align: right;
    font-weight: bold;
    .first-year{
      font-size: $h4;
    }
    .renew{
      span, b{
        font-size: $h6;
        color: grey;
      }
    }
  }
  .add-to-cart{
    min-width: 0px;
    width: 100%;
    background-color: transparent;
    font-weight: bold;
    border-radius: 0px;
  }

  .add-to-cart:hover {
    border: 1px solid $orange;
  }
  .add-to-cart:active {
    border: 2px solid $orange;
  } 
  a.add-to-cart{
    border: 1px solid $light;
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 10px 40px;
  }
}

.product.suggested{
  background-color: $light_blue;
  .domain{
    font-size: $h3;
    color: white;
  }
  .price{
    color: white;
    .first-year{
      font-size: $h4;
    }
    .renew{
      span, b{
        font-size: $h6;
        color: white;
      }
    }
  }
  .add-to-cart{
    background-color: white;
  }

  .add-to-cart:hover {
    background-color: $orange;
    color: white;
  }
}