.tab-content {
  padding: 0px;
  .tab-pane {
    padding: 0px;
  }
  .domain{
    padding: 10px 0px;
    position:relative;
    overflow: auto;
    border-bottom: 1px solid $light;
    .domain-name{
      font-size: $h3;
      padding: 0px;
      color: black;
    }
    .expiry{
      font-size: $h4;
      color: $light_grey;
      text-align: right;
    }
  }
  .record_kind {
    select {
      line-height: 40px;
      height: 40px;
      border: 1px solid $light;
      box-shadow: none;
      background: transparent;
      background-image: none;
      margin-bottom: 15px;
    }
  }
  .pull-right {
    font-size: $h2;
    color: red;
  }
  .pull-right:hover{
    text-decoration: none;
    font-size: $h1;
  }
}
