.tab-content {
  .domain{
    padding: 10px 0px;
    position:relative;
    overflow: auto;
    border-bottom: 1px solid $light;
    .domain-name{
      font-size: $h3;
      padding: 0px;
      color: black;
    }
    .expiry{
      font-size: $h4;
      color: $light_grey;
      text-align: right;
    }
  }
  .records td {
    padding-right: 5px;
  }
  .records td input{
    width: 100%;
  }
  .record_kind {
    select {
      line-height: 40px;
      height: 40px;
      border: 1px solid $light;
      width: 100%;
      box-shadow: none;
      background: transparent;
      background-image: none;
      margin-bottom: 15px;
    }
  }
}
