$('.cd-main-header').remove();
$('body').prepend("<%= escape_javascript (render partial: 'layouts/header') %>");
$('.cd-main-content .content-wrapper').html('');
$('.cd-side-nav').remove();
$('.cd-main-content').prepend("<%= escape_javascript (render partial: 'layouts/sidenav') %>");
$('.cd-main-content .content-wrapper').append("<%= escape_javascript (render partial: 'layouts/search') %>");
$('ul.filters').removeClass('hidden');
$('#flash').append("<%= escape_javascript (render partial: 'layouts/notice') %>");
$('body .domain-search').submit(function(event){
  $('.product').fadeOut(200);
  $('.cd-main-content .content-wrapper').append("<div class='wrap'><div class='loading'><div class='bounceball'></div><div class='text'>Searching. Please wait...</div></div></div>");
});