#flash-messages{
  z-index: 100;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 25px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: $light_blue;
  .flash.alert{
    margin-bottom: 0px;
  }
}