#flash-messages{
  z-index: 100;
  position: absolute;
  top: 10px;
  width: 600px;
  text-align: center;
  padding: 5px;
  left: calc(50% - 300px);
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: $blue;
  border-radius: 4px;
  .flash.alert{
    margin-bottom: 0px;
    border-radius: 4px;
  }
}