.domain-search{
  padding: 0px;
  margin-bottom: 10px;
  display: flex;
  input{
    padding-left: 20px !important;
    height: 50px !important;
    font-size: 18px;
    border: 1px solid $light;
    border-right: 0px !important;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
  input:active, input:focus {
    outline:0;
  }
  .search-btn{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: transparent;
    border: 1px solid $light;
    border-left: 0px;
    font-size: 18px;
    color: $light_grey;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .search-btn:hover{
    color: white;
    background-color:  transparent;
    font-weight: bold;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .search-btn:active{
    color: white;
    background-color: transparent;
    font-weight: bold;
  }
}

.agreements-search{
  padding: 0px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  input{
    padding-left: 15px;
    height: 50px;
    border: 1px solid $light;
    border-right: 0px;
    font-size: 18px;
  }
  button{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border: 1px solid $light;
    font-size: 18px;
    color: $light_grey;
  }
  button:hover{
    color: white;
    background-color: $light;
  }
  button:active{
    color: white;
    background-color: $dark_grey;
  }
}

.info-search{
  color: $light_grey;
  padding: 0px;
  margin-bottom: 20px;
}