@import "variables";
@import "custom/pretty-checkbox.min";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "devise/login";
@import "domains/index";
@import "domains/show";
@import "headers/home";
@import "headers/main";
@import "pages/home";
@import "partials/loader";
@import "partials/search";
@import "partials/simple_navigation";
@import "partials/flash_messages";
@import "partials/details_form";
@import "sidenav/sidenav";
@import "sidenav/sidenav_filters";
@import "carts/cart";
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Ubuntu');

body{
  font-family: 'Ubuntu', sans-serif !important;
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}

body::after {
  clear: both;
  content: "";
  display: table;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
  padding-right: 0px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
   outline: 0;
}

input:not(.btn):not([type='checkbox']):not([type='radio']){
  border: 1px solid $light;
  font-size: $h4;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
  padding-left: 10px;
  margin-bottom: 15px;
  border-radius: 0px;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.description {
  font-size: $h5;
  margin-bottom: 15px;
}

.btn{
  min-width: 200px;
  text-align: center;
  font-size: $h5;
  border: 1px solid $light;
  background-color: white;
}

.content-wrapper, .right-wrapper, .cd-side-nav {
  padding: 50px 20px 50px 20px;
}
.content-wrapper{
  min-height: 100vh;
  overflow: auto;
  background-color: white;
}

.underline {
  text-decoration: underline;
  display: inline-block;
}
