@import "variables.scss";
@import "custom/pretty-checkbox.min.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar.scss";
@import "login.scss";
@import "font-awesome";
@import "footer.scss";
@import "search.scss";
@import "sidenav.scss";
@import "sidenav_filter.scss";
@import "home";
@import "domain";
@import "profile";
@import "pages";
@import "spinner";
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Ubuntu');

body{
  font-family: 'Ubuntu', sans-serif !important;
  width: 100vw;
  background-color: transparent;
  overflow-x: hidden;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body::after {
  clear: both;
  content: "";
  display: table;
}

@media only screen and (max-width: 768px) {
  h1{
    font-size: 22px;
  }
  h2{
    font-size: 20px;
  }
}

a {
  color: #1784c7;
  text-decoration: none;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.col-xs-12, .col-xs-6{
  padding: 0px;
}

.content-wrapper{
  overflow: auto;
}

.simple-navigation ul {
  li{
    padding: 10px 10px 10px 0px;
    float: none;
    border-radius: 0px;
    background-color: transparent !important;
    a{
      font-size: 16px;
      min-width: 300px;
      cursor: pointer;
      border-radius: 0px; 
      display: inline-block;
    }
    a:hover{
      text-decoration: none;
    }
  } 
  li.active{
    margin-left: 0px;
    a{
      background-color: $blue;
      display: inline-block;
    }
    a:hover{
      background-color: $blue;
    }
  }
}

.tab-content{
  padding-left: 0px;
}

.btn:not(.submit-btn){
  min-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  max-width: 300px;
  line-height: 30px;
  margin-top: 10px;
}

div input:not([type='checkbox']) {
  border-radius: 0px;
  box-shadow: 0px;
  border: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 10px;
  padding-left: 10px;
  min-width: 400px;
  line-height: 40px;
}

label{
  display: block;
}
#flash-messages{
  position: absolute;
  top: 10px;
  width: 600px;
  text-align: center;
  padding: 5px;
  left: calc(50% - 300px);
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: $blue;
  .flash.alert{
    margin-bottom: 0px;
  }
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-content .content-wrapper {
  padding: 45px 15px 3em;
}
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  .cd-main-content .content-wrapper {
    margin-left: 110px;
    padding-top: 55px;
  }
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content .content-wrapper {
    margin-left: 16.6vw;
  }
  .cd-main-content::before {
    content: 'desktop';
  }
}