.domain{
  padding: 10px;
  .content{
    padding: 10px;
    position:relative;
    overflow: auto;
    border: 1px solid rgba(0,0,0,0.2);
    .name{
      font-size: 20px;
      padding-bottom: 10px;
      color: black;
    }
    .expiry{
      font-size: 18px;
      color: black;
      text-align: right;
    }
    .renew{
      text-align: right;
      .automatic{
        color: green;
      }
      .manual{
        color: $orange;
      }
    }
  }
  .content:hover{
    background-color: rgb(245,245,245);
    border: 1px solid $orange;
  }
}
.domain.active{
  .content{
    background-color: rgb(245,245,245);
    border: 1px solid $orange;
  }
}
.domain.faded{
  opacity: 0.2;
}

.info-search{
  color: rgba(0,0,0,0.5);
}

.show-domain{

  .renew, .information, .records, .nameservers, .forwarding{
    h4{
      color: grey;
    }

    .content{
      min-height: 200px;
      overflow: auto;
    }
  }
}