.tab-content{
  overflow: auto;
}

.agreements-search{
  display: flex;
  input{
    border-radius: 0px;
    box-shadow: 0px;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 10px;
    padding-left: 10px;
    min-width: 400px;
    line-height: 40px;
    width: 80%;
    border-right: 0px;
  }
  button{
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,0.2);
    line-height: 45px;
    height: 44px;
    padding: 0px;
    width: 20%;
  }
}

.nav.nav-pills li a{
  border-radius: 0px !important;
}