$purple: #ab87ff;
$purple_trans: rgba(171, 135, 255, 0.8);
$white: #f4faff;
$blue: #3685b5;
$indigo: #2C4873;
$indigo_trans: rgba(35, 57, 91, 0.9);
$light_blue: #5da9e9;

$s-sm: 12px;
$s-md: 14px;
$s-lg: 18px;
$s-xl: 24px;

$l-sm: 14px;
$l-md: 16px;
$l-lg: 24px;
$l-xl: 30px;