$yellow: rgb(255, 221, 0);
$green:  #32A332;
$red:    rgb(255, 90, 73);
$purple: rgb(115, 73, 202);

$s-sm: 12px;
$s-md: 14px;
$s-lg: 18px;
$s-xl: 24px;

$l-sm: 14px;
$l-md: 16px;
$l-lg: 24px;
$l-xl: 30px;