/*Colors*/

/*orange*/
$orange: #FC8368;
$orange_hover: #fc7668;
$orange_clicked: #f96161;


/*blue*/
$background_blue: #f7faff;
$blue: #3685b5;
$light_blue: #5da9e9;
$dark_blue: #228ae2;
$blue2: #2299e2;
$dark_blue2: #0d95e8;

/*black & white */
$dark: #333333;
$dark_grey: #595959;
$light_grey: #7c7c7c;
$light: #d3d3d3;


/*Text size*/

$h0: 35px;
$h1: 24px;
$h2: 22px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$h7: 12px;