h2 What is this information used for?
.description When you register your domain name, your personal information is published in the Whois Public Internet Directory which can be viewed by anyone at anytime. This is required by the Internet Corporation for Assigned Names and Numbers (ICANN) as part of the domain name registration process.