.cart{
  overflow: auto;
  background-color: transparent;
  .content {
    overflow: auto;
    padding: 55px 0px 20px 0px;
    .item {
      padding: 19px 0px;
      font-size: $h5;
      border-bottom: 1px solid $light;
      .title {
        padding: 0px;
      }
      .price {
        text-align: right;
        padding-right: 0px;
      }
      .remove-item {
        margin-left: 20px;
        display: block;
        height: 25px;
        width: 25px;
        background: image-url('cancel') no-repeat 0 center;
      }
      label{
        font-weight: normal;
      }
    }
  }
  .footer {
    padding: 0px;
    font-size: $h3;
    .proceed {
      padding: 20px 45px;
      text-align: right;
      a {
        padding: 20px 50px;
        color: white;
        background-color: $light_blue;
        border-radius: 4px;
      }
      a:hover {
        text-decoration: none;
        background-color: $blue;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
      }
    }
    .subtotal {
      text-align: right;
      font-size: $h2;
      padding: 20px 45px;

    }
  }
}
