.cart-button{
  z-index: 100;
  border-radius: 4px;
  background-repeat: no-repeat;
  margin-top: 20px;
  height: 50px;
  -webkit-transition: margin-top 0.2s;
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
  .badge{
    background-color: $orange;
    font-size: $h4;
    position: absolute;
    left: -15px;
  }
}

.cart-button.opened {
  background-image: image-url('domains');
} 

.cart-button.closed {
  background-image: image-url('market');
}

.cart-button:hover {
  cursor: pointer;
  margin-top: 16px;
  -webkit-transition: margin-top 0.2s;
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}
