.cart{
  overflow: auto;
  position: fixed;
  width: calc(33.33333% - 40px);
  background-color: transparent;
  .content {
    border: 1px solid $light;
    overflow: auto;
    padding: 0px;
    .item {
      padding: 20px;
      font-size: $h5;
      .title {
        padding: 5px 0px 5px 0px;
      }
      .duration {
        padding: 0px;
        form {
          padding: 0px;
          margin: 0px;
        }
        .select {
          border: 1px solid #ccc;
          width: 90px;
          overflow: hidden;
          background: #fafafa image-url("down-arrow.svg") no-repeat 90% 50%;
          background-size: 20px;
          select {
            padding: 5px;
            width: 115px;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
          }
        }
      }
      .price {
        text-align: right;
        padding: 5px 0px 5px 0px;
      }
      .remove-item {
        margin-left: 20px;
        display: block;
        height: 25px;
        width: 25px;
        background: image-url('cancel') no-repeat 0 center;
      }
    }
    .item:nth-last-child(2) {
      border-bottom: 1px solid $light;
    }
  }

  .item.subtotal {
    border-bottom: 0px;
    padding: 0px;
    font-size: $h3;
    .proceed {
      height: 100%;
      padding: 0px;
      text-align: center;
      a {
        color: inherit; 
        border-left: 1px solid $light;
        line-height: 48px;
        height: 48px;
        padding: 0px 20px;
      }
      a:hover {
        color: white;
        text-decoration: none;
        background-color: $light_blue;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
      }
    }
    .subtotal {
      text-align: center;
      padding: 0px 20px;
      line-height: 48px;
      height: 48px;
    }
  }
}

