= form_with url: charges_path do |f|
  #braintree-dropin
  = f.submit 'Complete Purchase', class: 'pull-right'

script src="https://js.braintreegateway.com/web/dropin/1.9.3/js/dropin.min.js"
javascript:
  document.addEventListener("turbolinks:load", function() {
    braintree.dropin.create({
      authorization: "#{@client_token}",
      container: '#braintree-dropin',
      paypal: {
        flow: 'checkout',
        amount: "#{@amount}",
        currency: 'USD'
      },
      paypalCredit: {
        flow: 'checkout',
        amount: "#{@amount}",
        currency: 'USD'
      },
      applePay: {
        displayName: 'Moonhythe',
        paymentRequest: {
          total: {
            label: 'Moonhythe',
            amount: "#{@amount}"
          }
        }
      }
    });
  })


